html,body{font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;}

#login_header
{
border: 1px #000000 solid;
background-image:url(Login_Header.jpg);
background-color:333333;
width: 640px;
height: 200px;
position: absolute;
top: 0px;
left: 50%;

margin-left: -320px;
}

#login_body
{
width: 640px;
border: 1px #000000 solid;
background-color:ffffff;
height: 200px;
position: absolute;
top: 200px;
left: 50%;

margin-left: -320px;
}

#user_wrapper
{
width: 1200px;
margin: 20px auto;
border: 0px solid black;
}

#user_header
{
width: 1200px;
background: #90A9FF;
margin-bottom: 15px;
} 

#user_menu
{
font-family: arial; 
width: 200px;
float: left;
padding: 5px;
background: #D6D6D6;
} 

#user_content
{
width: 970px;
padding: 5px;
margin-left: 220px;
background: #D6D6D6;
} 


a:link { text-decoration:none; }
a:visited { color:black; }
/*Ticket Table Styles*/
.table_tickets
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 13px;
	margin: 3px;
	width: 970px;
	text-align: left;
	border-collapse: collapse;
}
.table_tickets th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 1px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
.table_tickets td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.table_tickets tr:hover td
{
	background: #d0dafd;
	color: #339;
}

nav {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  margin: 5px auto;
  width: 200px;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,1,0.2);
     -moz-box-shadow: 2px 2px 5px rgba(0,0,1,0.2);
          box-shadow: 2px 2px 5px rgba(0,0,1,0.2);
}

.menu-item {
  background: #fff;
  width: 200px; 
}

/*Menu Header Styles*/
.menu-item h4 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  
  /*Gradient*/
  background: #AABCFE; /* Old browsers */
  background: -moz-linear-gradient(top, #AABCFE 0%, #89A2FF 44%, #7794FF 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AABCFE), color-stop(44%,#89A2FF), color-stop(100%,#7794FF)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #AABCFE 0%,#89A2FF 44%,#7794FF 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #AABCFE 0%,#89A2FF 44%,#7794FF 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #AABCFE 0%,#89A2FF 44%,#7794FF 100%); /* IE10+ */ 
  background: linear-gradient(top, #AABCFE 0%,#89A2FF 44%,#7794FF 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AABCFE', endColorstr='#7794FF',GradientType=0 ); /* IE6-9 */
}

.menu-item h4:hover {  
  background: #CBD6FF; /* Old browsers */
  background: -moz-linear-gradient(top,  #CBD6FF 0%, #7794FF 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBD6FF), color-stop(100%,#7794FF)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #CBD6FF 0%,#7794FF 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #CBD6FF 0%,#7794FF 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #CBD6FF 0%,#7794FF 100%); /* IE10+ */
  background: linear-gradient(top,  #CBD6FF 0%,#7794FF 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CBD6FF', endColorstr='#7794FF',GradientType=0 ); /* IE6-9 */

}

.menu-item h4 a {
  color: black;
  display: block;
  text-decoration: none;
  width: 200px;
}

/*ul Styles*/
.menu-item ul {
  background: #ff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  
  /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}


.menu-item:hover ul {
  height: 155px;
  
}

.menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #000000;
  display: block;
  width: 200px;
}

/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
}

.menu-item li:hover {
  background: #eee;
}

/*jetzt kommten die static-menü-item-eintrge*/
.menu-item-static {
  background: #fff;
  width: 200px; 
}

.menu-item-static h4 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  
  /*Gradient*/
  background: #AABCFE; /* Old browsers */
  background: -moz-linear-gradient(top, #AABCFE 0%, #89A2FF 44%, #7794FF 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AABCFE), color-stop(44%,#89A2FF), color-stop(100%,#7794FF)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #AABCFE 0%,#89A2FF 44%,#7794FF 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #AABCFE 0%,#89A2FF 44%,#7794FF 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #AABCFE 0%,#89A2FF 44%,#7794FF 100%); /* IE10+ */ 
  background: linear-gradient(top, #AABCFE 0%,#89A2FF 44%,#7794FF 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AABCFE', endColorstr='#7794FF',GradientType=0 ); /* IE6-9 */
}

.menu-item-static h4:hover {  
  background: #CBD6FF; /* Old browsers */
  background: -moz-linear-gradient(top,  #CBD6FF 0%, #7794FF 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBD6FF), color-stop(100%,#7794FF)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #CBD6FF 0%,#7794FF 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #CBD6FF 0%,#7794FF 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #CBD6FF 0%,#7794FF 100%); /* IE10+ */
  background: linear-gradient(top,  #CBD6FF 0%,#7794FF 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CBD6FF', endColorstr='#7794FF',GradientType=0 ); /* IE6-9 */

}

.menu-item-static h4 a {
  color: black;
  display: block;
  text-decoration: none;
  width: 200px;
}

/*ul Styles*/
.menu-item-static ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 155px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  
  /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}


.menu-item-static:hover ul {
  height: 155px;
  
}

.menu-item-static ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #000000;
  display: block;
  width: 200px;
}

/*li Styles*/
.menu-item-static li {
  border-bottom: 1px solid #eee;
}

.menu-item-static li:hover {
  background: #eee;
}